body {
    margin: 0;
    background-color: #f7f9fc;
    color: #333;
}

#navbar {
    display: flex;
    top: 0;
    position: sticky;
    grid-area: navbar;
    background-color: #BF5656;
    color: white;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
}

#logoynombre {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logoynombre img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

#logoynombre h1 {
    font-size: 1.8rem;
    margin: 0;
    color: white;
}

#elementos_derecha a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
    border-radius: 4px;
}

#elementos_derecha a:hover {
    background-color: #ddd;
    color: black;
}


.main-content {
    padding: 30px;
    max-width: 1000px;
    margin: auto;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-volver {
    background-color: #BF5656;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
}

.btn-volver:hover {
    background-color: #973131;
    color: white;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

.tabla th, .tabla td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.tabla th {
    background-color: #BF5656;
    color: white;
}

.btn-cancelar {
    background-color: #cc5656;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-cancelar:hover {
    background-color: #973131;
    color: white;
}
.btn-aceptar {
    background-color: #95bf56;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-aceptar:hover {
    background-color: #729c34;
}

.btn-disabled {
    background-color: #ccc;
    color: #666;
    border: none;
    padding: 10px 25px;
    border-radius: 12px;
    font-size: 1rem;
    cursor: not-allowed;
}

.tabla td {
    max-width: none;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.tabs {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.tablink {
    background-color: #eee;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
    transition: background 0.3s;
    font-weight: bold;
}

.tablink:hover {
    background-color: #ddd;
}

.tablink.active {
    background-color: #4CAF50;
    color: white;
}

.tab-content {
    display: none;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    padding: 20px 0;
    background-color: #fff;
}

.tab-content.active {
    display: block;
}


.msg {
    padding: 10px 15px;
    border-radius: 6px;
    margin-top: 10px;
}

.msg-exito {
    background-color: #d4edda;
    color: #155724;
}

.msg-error {
    background-color: #f8d7da;
    color: #721c24;
}

/* ======= PAGINACIÓN ======= */
#paginacion {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

#paginacion button {
    background-color: #973131;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

#paginacion button:hover {
    background-color: #650909;
}

#paginacion button[style*="hidden"] {
    visibility: hidden;
}

#search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

#buscarPendientes {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 220px;
    transition: 0.2s;
}

#buscarConfirmados {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 220px;
    transition: 0.2s;
}
#buscarReservados {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 220px;
    transition: 0.2s;
}
#buscarFinalizados {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 220px;
    transition: 0.2s;
}
#buscarPendientes:focus {
    border-color: #973131;
    outline: none;
}
#buscarConfirmados:focus {
    border-color: #973131;
    outline: none;
}
#buscarReservados:focus {
    border-color: #973131;
    outline: none;
}
#buscarFinalizados:focus {
    border-color: #973131;
    outline: none;
}

#buscarPrestamo {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 220px;
    transition: 0.2s;
}
#buscarPrestamo:focus {
    border-color: #973131;
    outline: none;
}

