*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
}

nav{
    display: flex;
    top: 0;
    position: sticky;
    grid-area: navbar;
    background-color: #BF5656;
    color: white;
    padding: 1em;
    justify-content: space-between;
    align-items: center;

}

nav #logoynombre {
    display: flex;
    align-items: center;
}

nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

table {
    width: 70%;
    margin: 40px auto;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    border: 1px solid #ccc;
    white-space: nowrap;
    padding: 10px;
}
th {
    background-color: #cccccc;
}
button {
    padding: 6px 10px;
    margin: 2px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.agregar {
    background-color: #71B971;
    color: white;
}
.editar {
    background-color: #FFDB58;
    color: #ffffff;
}
.eliminar {
    background-color: #BF5656;
    color: white;
}
/* Título */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}
label{
    display: block;

}

input[type="text"] {
    width: 100%;
    padding-right: 40px; /* espacio para el botón */
}


.mensaje {
    text-align: center;
    margin: 10px auto;
    width: 60%;
    padding: 10px;
    border-radius: 8px;
}
.exito { background-color: #c8e6c9; color: #256029; }
.error { background-color: #ffcdd2; color: #b71c1c; }

a{
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #BF5656;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.boton {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #BF5656;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}
main{
    grid-area: main;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border: solid black 1px;
    width: 600px;
    max-width: 90%;
}

.crud-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
    margin: 50px auto 0;
    padding: 24px 48px;
    border-radius: 3px;
    border: black 1px solid;
    background-color: #FEACAC;
}