/* ======== ESTILO GENERAL ======== */
body {
    margin: 0;
    background-color: #f7f9fc;
    color: #333;
}

/* ======== NAVBAR ======== */
#navbar {
    display: flex;
    top: 0;
    position: sticky;
    grid-area: navbar;
    background-color: #2F3A45;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 1em;
    justify-content: space-between;
    align-items: center;

}

#logoynombre {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logoynombre img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

#logoynombre h1 {
    font-size: 1.8rem;
    margin: 0;
    color: white;
}

#elementos_derecha a {
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
}

#elementos_derecha a:hover {
    background-color: #ddd;
    color: black;
}

/* ======== CONTENIDO PRINCIPAL ======== */
main {
    max-width: 500px;
    margin: 40px auto;
    background-color: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
}

/* ======== FORMULARIO ======== */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
}

input[type="number"],
input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.2s;
}

input:focus {
    outline: none;
    border-color: #973131;
}

button {
    background-color: #3A6B6B;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s;
}

button:hover:not(:disabled) {
    background-color: #5FA09A;
}

/* ======== ENLACE VOLVER ======== */
.volver {
    background-color: #3A6B6B;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}

.volver:hover {
    background-color: #7AB2A7;
    color: #1F2B30;
}

.msg {
    padding: 10px 15px;
    border-radius: 6px;
    margin-top: 10px;
}

.msg-exito {
    background-color: #d4edda;
    color: #155724;
}

.msg-error {
    background-color: #f8d7da;
    color: #721c24;
}
